# ==========================
# Large datasets (do not track)
# ==========================
Supply Chain Intelligence Platform for Forecasting, Logistics, and Operational Analytics/DataCoSupplyChainDataset.csv
Supply Chain Intelligence Platform for Forecasting, Logistics, and Operational Analytics/cleaned_supplychain.csv
Supply Chain Intelligence Platform for Forecasting, Logistics, and Operational Analytics/tokenized_access_logs.csv

# Ignore Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Keep README files
!README.md
