git rm --cached "Supply Chain Intelligence Platform for Forecasting, Logistics, and Operational Analytics/DataCoSupplyChainDataset.csv"

git rm --cached "Supply Chain Intelligence Platform for Forecasting, Logistics, and Operational Analytics/cleaned_supplychain.csv"

git rm --cached "Supply Chain Intelligence Platform for Forecasting, Logistics, and Operational Analytics/tokenized_access_logs.csv"
